<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="0.7.1" targetFramework="net45" />
  <package id="Metrics.NET" version="0.2.16" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Serilog" version="1.5.1" targetFramework="net45" />
  <package id="Serilog.Sinks.Splunk" version="1.5.25" targetFramework="net45" />
  <package id="Splunk.Client" version="2.1.0" targetFramework="net45" />
  <package id="Splunk.Logging.Common" version="1.1.0" targetFramework="net45" />
</packages>